<h1>Account deleted</h1>
<p>Hello {{firstName}},</p>

<p>Your PocketSync account has been successfully deleted along with all your data.</p>

<p>We're sad to see you go, but we respect your decision. Your feedback is valuable to us - if you have a moment, we'd appreciate knowing what we could have done better.</p>

<p>Should you wish to return to PocketSync in the future, you're always welcome to create a new account.</p>

<p>If you did not request this account deletion, please contact our support team immediately at <a href="mailto:support@pocketsync.dev">hello@pocketsync.dev</a>.</p>

<p>Thank you for your time with PocketSync. We wish you all the best.</p>

<p>Best regards,<br>
The PocketSync Team</p>
